body, div, header, main {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    color: chocolate;
    background: #e1dfea;
}

#logo img {
    width: 150px;
    border-radius: 15px;
}

#imagem img {
    width: 50%;
    border-radius: 10px;
    border: 1px solid #fff
}

#imagem {
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
    color: chocolate;
}

a:hover {
    color: yellowgreen;
}

ul {
    list-style: none;
}

li {
    text-align: center;
    padding: 2px 5px;
}

li:hover {
    font-weight: bold;
}

header {
    height: 50%;
    display: flex;
    align-items: center;
}

main {
    width: 100%;
    min-width: 300px;
    margin: 50px auto;
    padding: 15px 25px;
}

footer {
    color: chocolate;
    text-align: center;
    height: 40px;
    padding: 10px 0;
    width: 100%;
}